

.card {
    min-height: 300px;
}

.slider-container {
    padding: 0 15px 0 0;
    position: relative;
    margin: 0 auto;
}

.swiper-button-prev,
.swiper-button-next {
    background-color: #fff;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 20px 20px;
}

.swiper-button-prev::after,
.swiper-button-next::after {
    display: none;
}

.swiper-button-prev {
    background-image: url("back.svg");
}

.swiper-button-next {
    background-image: url("right.svg");
}

.slider-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 30px;
}

.slider-buttons {
    display: flex;
    align-items: center;
}
