/*Обнуление*/

* {padding: 0;margin: 0;border:0;}
*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
:focus,
:active {
    outline: none;
}
a:focus,
a:active {
    outline: none;
}
nav,
footer,
header,
aside {
    display: block;
}
html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
    font-family: inherit;
}
input:focus::-webkit-input-placeholder {
       color: transparent !important;
    }
input:focus::-moz-placeholder {
       color: transparent !important;
    }
input:focus::-moz-placeholder {
    color: transparent !important;
}
input:focus:-ms-input-placeholder {
    color: transparent !important;
}
textarea:focus::-webkit-input-placeholder {
       color: transparent !important;
    }
textarea:focus::-moz-placeholder {
       color: transparent !important;
    }
textarea:focus::-moz-placeholder {
    color: transparent !important;
}
textarea:focus:-ms-input-placeholder {
    color: transparent !important;
}
input::-ms-clear {
    display: none;
}
button {
    cursor: pointer;
}
button::-moz-focus-inner {
    padding: 0;
    border: 0;
}
a,
a:visited {
    text-decoration: none;
    color: inherit;
}
a:hover {
    text-decoration: none;
}
ul li {
    list-style: none;
}
img {
    vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
}

body {
    font-family: 'Montserrat', 'Oswald';
    font-size: 18px;
    line-height: 1.2;
    font-weight: 400;
    color: #ffffff;
    background-color: #1d1e22;
}

body.no-scroll {
    overflow: hidden;
}

.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

/* Container
====================*/
.container {
    max-width: 1230px;
    margin: 0 auto;
    padding: 0 15px;
}

/* Header
====================*/
.header {
    width: 100%;
    overflow: hidden;
    position: fixed;
    background-color: #303030;
    opacity: .8;
    top: 0;
    left: 0;
    z-index: 1000;
}
.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

/* Nav
====================*/
.nav {
    display: flex;
    align-items: center;
    text-transform: uppercase;
}
.nav__link {
    font-size: 20px;
    font-family: 'Oswald';
    text-decoration: none;
    color: #ffffff;
    padding: 0 15px;
    transition-duration: .3s;
}
.nav__link:hover {
    color: darkgrey;
}

@media (max-width: 767px) {
    .header__logo img {
        position: relative;
        z-index: 1;
        width: 95px;
        height: auto;
    }
    .search-logo {
        display: none;
    }
    .header {
        opacity: 1;
    }
}

/* Burger
====================*/
.burger {
    display: none;
}

@media (max-width: 767px) {
    .burger {
        position: absolute;
        right: 24px;
        z-index: 1;
        display: block;
        background: none;
        cursor: pointer;
        padding: 15px;
    }
    .burger__item {
        display: block;
        width: 100%;
        height: 3px;
        background-color: #fff;
        position: absolute;
        top: 15px;
        right: 0;
        bottom: 0;
        left: 0;
        transition: background .3s linear;
    }
    .burger.active .burger__item {
        background: none;
    }
    .burger__item:before,
    .burger__item:after {
        content: "";
        width: 100%;
        height: 3px;
        background-color: #fff;
        position: absolute;
        left: 0;
        z-index: 1;
        transition: transform .3s linear;
    }
    .burger__item:before {
        top: -8px;
    }
    .burger__item:after {
        bottom: -8px;
    }
    .burger.active .burger__item:before {
        transform-origin: left top;
        transform: rotate(45deg) translate3d(0px, -2px, 0)
    }
    .burger.active .burger__item:after {
        transform-origin: left bottom;
        transform: rotate(-45deg) translate3d(0px, 3px, 0);
    }
    .nav {
        display: block;
        position: fixed;
        width: 100%;
        height: 100%;
        overflow: auto;
        opacity: 0.9;
        top: 0;
        right: -100%;
        background: #504d4d;
        margin: 70px 0 0 0;
        transition: all 0.5s ease 0s;
    }
    .nav.active {
        top: 0;
        right: 0;
    }
    .nav__link {
        display: block;
        font-size: 36px;
        text-align: center;
        font-weight: 700;
        padding: 20px;
    }

}
/* About
====================*/
.about {
    width: 100%;
    height: 100vh;
    background-image: url(https://raw.githubusercontent.com/oscicen/oscicen.github.io/master/img/depth-3.png), url(https://raw.githubusercontent.com/oscicen/oscicen.github.io/master/img/depth-2.png), url(https://raw.githubusercontent.com/oscicen/oscicen.github.io/master/img/depth-1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-position: 50% 50%;
}

.about__body {
    text-align: center;
    color: #fff;
}
.about__title {
    margin: 350px 0 30px 0;
    font-size: 70px;
    opacity: .3;
}
.about__text {
    font-size: 18px;
    margin-bottom: 20px;
    opacity: .3;
}

@media (max-width: 767px) {

    .about {
        height: auto;
        padding: 130px 0;
    }

    .about__title {
        margin: 100px 0 20px 0;
        font-size: 70px;
        opacity: 1;
    }

    .about__text {
        font-size: 22px;
        opacity: 1;
    }
}

@media (max-width: 560px) {

    .about__title {
        margin: 60px 0 20px 0;
        font-size: 50px;
    }

    .about__text {
        font-size: 18px;
    }
}

/* Btn
====================*/
.btn {
    font-family: 'Oswald';
    font-size: 30px;
    line-height: 1.5;
    letter-spacing: 0.2px;
    text-align: center;
    text-transform: uppercase;
    background-color: #e8631c;
    color: #ffffff;
    box-shadow: 0px 5px 10px 0px #fff;
    border-radius: 5px;
    padding: 10px 60px;
    transition: background .2s linear;
}
.btn:hover {
    background-color: darkgray;
}
.btn:active{
    position: relative;
    top: 3px;
    box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.5);
}

.about__btn {
    opacity: .5;
}

@media (max-width: 767px) {

    .about__btn {
        opacity: 1;
    }
}
@media (max-width: 560px) {

    .about__btn {
        width: 100%;
        font-size: 20px;
    }
}

/* DanceTour
====================*/
.dancetour {
    background-color: #e8631c;
    margin-bottom: 80px;
    padding-bottom: 100px;
}

.dancetour__body {
    text-align: center;
    margin-bottom: 25px;
}

.dancetour__title {
    font-size: 60px;
    font-weight: 700;
    margin: 80px 0 20px 0;
}

.dancetour__text {
    font-size: 20px;
    margin-bottom: 20px;
}

.dancetour__item {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
}

.dancetour__col {
    flex: 0 1 33.3333%;
    padding: 0 10px;
    margin-bottom: 20px;
    text-align: center;
}

.dancetour__content {
    display: flex;
    flex-direction: column;
    background: #303030;
    height: 100%;
    padding-bottom: 20px;
    border-radius: 10px;
    cursor: pointer;
    transition-duration: .5s;
    transition-property: transform, background;
}

.dancetour__content:hover {
    transform: scale(105%);
    background: #171515;
}

.dancetour__img {
    max-width: 375px;
    max-height: 330px;
    margin-bottom: 30px;
}

.dancetour__photo {
    max-width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

.dancetour__title--cart {
    font-size: 30px;
    margin: 0 0 10px 0;
    padding: 0 10px;
}

.dancetour__text--cart {
    flex: 1 1 auto;
    font-size: 16px;
    padding: 0 10px;
}

@media (max-width: 991px) {

    .dancetour {
        margin-bottom: 0;
    }
}

@media (max-width: 767px) {

    .dancetour {
        margin-bottom: 0px;
        padding-bottom: 30px;
    }

    .dancetour__title {
        margin: 30px 0 20px 0;
    }

    .dancetour__title--cart {
        margin: -10px 0 10px 0;
    }

    .dancetour__col {
        flex: 0 1 50%;
        margin-bottom: 20px;
    }
}

@media (max-width: 600px) {

    .dancetour {
        padding-top: 25px;
    }

    .dancetour__title {
        font-size: 42px;
        margin: 0 0 15px 0;
    }

    .dancetour__text {
        font-size: 18px;
    }

    .dancetour__col {
        flex: 0 1 100%;
    }
    
    .dancetour__img {
        max-width: 100%;
        max-height: 100%;
    }
    


    .dancetour__title--cart {
        font-size: 36px;
        margin: 0px 0 15px 0;
    }
}


/* Swiper-slider
====================*/
.swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    margin: 0 15px;
    background-color: tomato;
    opacity: 1;
}

.swiper-pagination-bullet-active {
    background-color: navy;
}

.swiper-button-prev,
.swiper-button-next {
    position: static;
    margin-left: 10px;
}

.slider-container {
    overflow: hidden;
    width: 100%;
}

.slider-container .swiper-wrapper {
    justify-content: space-between;
    flex-wrap: wrap;
}

@media (max-width: 600px) {
    .card {
        width: 100%;
        margin: 0;
        flex-shrink: 0;
    }

    .slider-container .swiper-wrapper {
        justify-content: initial;
        flex-wrap: nowrap;
    }
}

/* Pricing
====================*/
.pricing {
    padding: 80px 0;
    margin-bottom: 100px;
}

.pricing__content {
    text-align: center;
    margin-bottom: 50px;
}

.pricing__title {
    font-size: 70px;
    font-weight: 700;
    margin-bottom: 25px;
}

.pricing__text {
    font-size: 18px;
    margin-bottom: 10px;
    text-align: center;
}

.pricing__item {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
}

.pricing__col {
    flex: 0 1 33.3333%;
    display: flex;
    flex-direction: column;
    padding: 0 10px;
}

.pricing__body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    background-color: #e8631c;
    padding: 50px 10px;
}

.pricing__img {
    width: 110px;
    height: 130px;
    margin-bottom: 20px;
}

.pricing__photo {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.pricing__subtitle {
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 15px;
}

.pricing__text__content {
    flex: 1 1 auto;
    margin-bottom: 20px;
}

.pricing__price {
    width: 100%;
    background-color: #1d1e22;
    color: #fff;
    padding: 8px 0;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
    border-radius: 8px;
    transition-duration: .3s;
    transition-property: background;
}

.pricing__price:hover {
    background-color: #47484e;
}

@media (max-width: 991px) {

    .pricing {
        margin-bottom: 10px;
    }

}

@media (max-width: 767px) {

    .pricing {
        padding: 30px 0 0 0;
        margin-bottom: 10px;
    }

    .pricing__content {
        margin-bottom: 25px;
    }

    .pricing__title {
        font-size: 60px;
        margin-bottom: 20px;
    }

    .pricing__col {
        flex: 0 1 50%;
        margin-bottom: 15px;
    }
}

@media (max-width: 560px) {

    .pricing__title {
        font-size: 42px;
        margin-bottom: 15px;
    }

    .pricing__col {
        flex: 0 1 100%;
    }
}

/* Dance
====================*/
.dance {
    background: #e8631c;
    margin-bottom: 150px;
}

.dance__item {
    display: flex;
}

.dance__item--revers {
    flex-direction: row-reverse;
}

.dance__col {
    flex: 0 1 50%;
}

.dance__img {
    max-width: 600px;
}

.dance__img img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.dance__body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top:  300px;
    padding: 10px;
}

.dance__title {
    font-size: 65px;
    font-weight: 700;
    margin-bottom: 40px;
}

.dance__text {
    text-align: center;
    margin-bottom: 25px;
    line-height: 1.4;
}

.dance__btn {
    background-color: #1d1e22;
}

@media (max-width: 991px) {

    .dance {
        margin-bottom: 0px;
    }
}

@media (max-width: 767px) {

    .dance {
        margin-bottom: 0px;
    }

    .dance__body {
        margin-top: 45px;
    }

    .dance__title {
        font-size: 50px;
        line-height: 1.1;
        text-align: center;
        margin-bottom: 15px;
    }
}

@media (max-width: 580px) {

    .dance__item {
        flex-wrap: wrap;
    }

    .dance__col {
        flex: 0 1 100%;
    }

    .dance__img {
        padding-top: 15px;
    }

    .dance__body {
        margin: 10px 0 20px 0;
    }

    .dance__title {
        font-size: 42px;
    }

    .dance__btn {
        width: 100%;
        font-size: 22px;
    }
}

/* Subscribe
====================*/
.subscribe {
    background: #e8631c;
}

.subscribe__body {
    text-align: center;
    padding: 150px 20px;
}

.subscribe__title {
    font-size: 70px;
    font-weight: 700;
    margin-bottom: 35px;
}

.subscribe__text {
    font-size: 22px;
    margin-bottom: 30px;
    text-align: center;
}

@media (max-width: 991px) {

    .subscribe__body {
        padding: 100px 20px;
    }
}

@media (max-width: 767px) {

    .subscribe__body {
        padding: 40px 10px;
    }

    .subscribe__title {
        font-size: 55px;
        margin-bottom: 15px;
    }

    .subscribe__text {
        font-size: 20px;
        margin-bottom: 20px;
    }
}

@media (max-width: 560px) {

    .subscribe__body {
        padding: 35px 0px;
    }

    .subscribe__title {
        font-size: 41px;
    }

    .subscribe__text {
        font-size: 18px;
    }
}

/* Form
====================*/
.form__group {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form__input {
    width: 300px;
    height: 60px;
    font-size: 20px;
    padding: 10px;
    border-radius: 10px 0 0 10px;
}

.form__input:focus {
    box-shadow: 1px 1px 4px 0 #000;
}

.form__btn {
    width: 220px;
    height: 60px;
    background-color: #1d1e22;
    font-size: 26px;
    padding: 5px;
    box-shadow: none;
    border-radius: 0 10px 10px 0;
}

@media (max-width: 560px) {

    .form__input {
        width: 100%;
        height: 45px;
        font-size: 16px;
        padding: 5px;
        border-radius: 5px 0 0 5px;
    }

    .form__btn {
        width: 100%;
        height: 45px;
        font-size: 20px;
        padding: 5px;
        border-radius: 0 5px 5px 0;
    }
}

/* Footer
====================*/
.footer__item {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
}

.footer__col {
    flex: 0 1 20%;
    padding: 0 10px;
}
.footer__col--left {
    flex: 0 1 40%;
}

.footer__body {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 50px 0;
}

.footer__title {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 20px;
}

.footer__text, .footer li {
    flex: 1 1 auto;
    line-height: 1.8;
    transition-duration: .3s;
}

.footer li:hover {
    text-decoration: underline;
}

@media (max-width: 991px) {

    .footer__title {
        font-size: 35px;
        margin-bottom: 10px;
    }

    .footer__text, .footer li {
        line-height: 1.5;
        margin-bottom: 10px;
    }
}

@media (max-width: 767px) {

    .footer__body {
        padding: 25px 0;
    }

    .footer__title {
        font-size: 25px;
        margin-bottom: 10px;
    }

    .footer__text, .footer li {
        font-size: 14px;
        line-height: 1.6;
        margin-bottom: 5px;
    }
}

@media (max-width: 560px) {

    .footer__body {
        padding: 10px 0;
    }
}

/* Social
====================*/
.social {
    display: flex;
    grid-gap: 15px;
}

.social__block {
    width: 40px;
    height: 40px;
}

.social__block img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

@media (max-width: 767px) {

    .social {
        grid-gap: 10px;
    }

    .social__block {
        width: 28px;
        height: 28px;
    }
}



/* Modals */

.modal {
    display: none; /* Скрыто по умолчанию */
    position: fixed; /* Оставаться на месте */
    z-index: 1000; /* Сидеть на вершине */
    left: 0;
    top: 0;
    width: 100%; /* Полная ширина */
    height: 100%; /* Полная высота */
    overflow: auto; /* Включите прокрутку, если это необходимо */
    background-color: rgba(6, 15, 49, 0.9);
}

.modal__form {
    margin: 20px 20px 40px 20px;
}

.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: 15% auto; /* 15% сверху и по центру */
    padding: 20px;
    border: 1px solid #888;
    width: 500px; /* Может быть больше или меньше, в зависимости от размера экрана */
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Добавить анимация */
@keyframes animatetop {
    from {transform: scale(0);}
    to {transform: scale(1);}
}

.modal__close {
    width: 34px;
    height: 39px;
    padding: 0;
    background: none;
    border: 0;
    cursor: pointer;
    position: absolute;
    top: 14px;
    right: 15px;
    z-index: 1;
    transition: transform .2s linear;
}

.modal__close img {
    width: 30px;
    height: 34px;
}
.modal__close:hover {
    transform: translateY(-3px);
}

.modal__body {
    text-align: center;
}

.modal__title {
    font-weight: 700;
    font-size: 30px;
    line-height: 30px;
    color: #333333;
    text-align: center;
    margin: 50px 0 0 0;
}

.form__input-modal {
    width: 300px;
    height: 50px;
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
    border-radius: 10px;
    color: #707070;
    margin: 5px 0;
    padding: 0 10px;
}

.modal-btn__body {
    margin-bottom: 10px;
}

.modal__btn {
    width: 300px;
    height: 60px;
    background: #F07FAE;
    border-radius: 5px;
    font-weight: 700;
    font-size: 16px;
    background-color: #1d1e22;
    color: #FFFFFF;
    margin: 5px;
    transition-duration: .3s;
    transition-property: background, color;
}

.modal__btn:hover {
    background-color: darkgray;
}
.modal__btn:active{
    position: relative;
    top: 3px;
    box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.5);
}


@media (max-width: 767px) {
    
    .modal-content {
        width: 96%;
    }
}

@media (max-width: 560px) {
    
    .modal__title {
        font-size: 26px;
    }
    
    .modal-content {
        padding: 0;
        margin-top: 170px;
    }
    
    .form__input-modal {
        width: 100%;
        height: 40px;
    }
    
    .modal__btn {
        width: 100%;
        height: 40px;
    }
    
    .modal__close {
        width: 25px;
        height: 25px;
        top: 10px;
        right: 12px;
    }
    
    .modal__close img {
        width: 25px;
        height: 25px;
    }
}


